asgiref==3.9.2
certifi==2025.8.3
charset-normalizer==3.4.3
Django==4.2.7
django-anymail==13.1
django-cors-headers==4.9.0
django-jazzmin==3.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.11
environs==14.3.0
idna==3.10
inflection==0.5.1
marshmallow==4.0.1
packaging==25.0
pillow==11.3.0
PyJWT==2.6.0
python-dotenv==1.2.0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
setuptools==80.9.0
shortuuid==1.0.13
sqlparse==0.5.3
stripe==13.0.1
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
